# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
 workflow_dispatch:
    inputs:
      my_input_name:
        description: 'test input name'
        required: true
        default: abcd_123

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:          
        
      - name: Create new branch name
        id: new_br_name
        run:  |
         $a = ${{ github.event.inputs.my_input_name}}_(get-date).ToUniversalTime().ToString("yyyyMMdd-HHmmss")
         echo $a
         echo "NEW_BR_NAME=$a" >> $GITHUB_ENV
        
      - name: Display new branch name
        id: display_new_br_name
        run: echo ${{ env.NEW_BR_NAME }}
